.hero-image {
    background-size: cover;
    background-position: center;
    height: 300px; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 25px;
    position: relative;
  }
  
  .hero-image h1 {
    font-size: 2.5em;
    margin: 0;
  }
  
  .hero-image p {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .cta-button {
    background-color: #007bff; /* A warm, inviting yellow */
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .cta-button:hover {
    background-color: #002fff; /* Darken the yellow on hover */
    transform: scale(1.05);
    color: #fff;
  }
  
  .about-us-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc; /* Keep the border for separation */
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .contact-info {
    display: inline-block; 
  }
  
  .contact-info p {
    justify-content: center;
    margin: 15px;
    font-size: 1.1em; /* Slightly larger text for contact info */
  }

  .login-button {
    margin-right: 20px;
  }

  .signup-button {
    margin-left: 20px;
  }