/* Login.css */

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.no-scroll {
  overflow: hidden;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-image: url('../assets/paw-print.png'); /* Replace with the actual path to your paw print image */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center;
  background-repeat: no-repeat;
}

.login-box { /* New container for title and form */
  background-color: rgba(197, 173, 153); /* This is the book now color from the old website! */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.form {
  background-color: rgba(255, 255, 255);;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2c3e50;
  text-shadow: 1px 1px 2px rgba(0, 0, 0);
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #34495e;
}

.form-input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #2ecc71;
}
/*-----------------------------*/
.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-button, .signup-button {
  background-color: #3498db;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 100px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-button {
  background-color: #2ecc71;
}

.login-button:hover {
  background-color: #2980b9;
}

.signup-button:hover {
  background-color: #27ae60;
}

.error {
  color: #e74c3c;
  margin-top: 10px;
}

.redirect-message {
  color: #16a085;
  margin-bottom: 20px;
}

/* Media Query for smaller devices */
@media (max-width: 768px) {
  .form {
    padding: 20px;
  }

  .login-title {
    font-size: 1.5rem;
  }

  .form-input {
    padding: 10px;
  }

  .login-button, .signup-button {
    padding: 10px 15px;
    font-size: 0.9rem;
  }
}
