/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
  background-image: url('../assets/paw-print.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: hidden; /* Enable scrolling if needed */
  padding-top: 90px;
}

.signup-box {
  background-color: rgba(197, 173, 153); /* Slight transparency */
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 15px;
  justify-items: center;
}

.signup-title {
  font-size: 2rem;
  color: #2c3e50;
  text-shadow: 1px 1px 2px rgba(0, 0, 0);
  text-align: center;
  margin-bottom: 30px;
  overflow: visible;
}

.form {
  background-color: rgba(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
}

.form-group {
  width: 100%;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #34495e;
}

.form-input {
  width: 100%; /* Full width of the container */
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #2ecc71;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1px;
  margin-left: -20px;
  gap: 5px;
}

.signup-button,
.login-button,
.cancel-button {
  background-color: #3498db;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-grow: 1;
  text-align: center;
}

.login-button {
  background-color: #2ecc71;
}

.signup-button:hover,
.cancel-button:hover {
  background-color: #2980b9;
}

.login-button:hover {
  background-color: #27ae60;
}

.error {
  color: #e74c3c;
  margin-top: 10px;
}

.redirect-message {
  color: #16a085;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .signup-container {
    padding-top: 60px; /* Reduced padding for smaller screens */
  }

  .signup-box {
    padding: 30px 20px;
    max-height: calc(100vh - 70px);
  }

  .signup-title {
    font-size: 1.5rem;
  }

  .form-input {
    padding: 10px;
  }

  .signup-button,
  .login-button,
  .cancel-button {
    padding: 10px 15px;
    font-size: 0.9rem;
  }

}
