html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #a19e9e;
  color: #000;
}

#root {
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  z-index: 1000;
}

.logo {
  flex: 1;
}

.logo-button {
  background: none;
  border: none;
  cursor: pointer;
}

.logo img {
  height: 40px;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex: 2;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.login {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.login-button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 5px;
}

.login-button:hover {
  background-color: #ccc;
}